:root {
  --dark: #140601;
  --light: #FBEDDA;
  --red: #E59824;
}

a {
  text-decoration: none;
  color: var(--red);
}

a:hover {
  color: var(--light);
}

body {
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--light);
  color: var(--dark);
}

header {
  background-color: var(--dark);
}

h1 {
  font-family: becker-gothics-concave, serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-weight: bold;
}

.spinner {
  margin: 20px;
}

/* song styles */
.accordion-button {
  background-color: rgba(252, 243, 238, .3);
  color: var(--dark);
}

.accordion-button:not(.collapsed) {
  color: var(--light);
  background-color: rgba(39, 12, 1, .7);
}

.delete-song:hover {
  color: var(--red);
}

/* dashboard styles */
.user-info {
  display: flex;
}

.username {
  text-align: left;
}

.user-icon {
  margin-right: 10px;
  color: var(--red);
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100%;
  border: 1px solid var(--red);
  background-color: rgba(39, 12, 1, .9);
}

.friends-toggle {
  font-weight: 800;
  color: var(--red);
  font-size: 15px;
  text-decoration: underline;
}

.friends-toggle:hover {
  font-style: italic;
}

.offcanvas {
  max-width: 50%;
  max-height: 50%;
  margin-top: 105px;
  background-color: var(--light);
  color: var(--dark);
  border-style: none;
  box-shadow: -10px 11px 6px -5px rgba(39, 12, 1, .3);
}

.fa-glass-cheers {
  color: var(--red);
  margin-left: 5px;
}

#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
}

