:root {
  --dark: #140601;
  --light: #FBEDDA;
  --yellow: #E59824;
  --xtra-light: #fffbf5;
  --red: #e7414f;
  --turq: #0d9c84;
}

a {
  text-decoration: none;
  color: var(--yellow);
}

a:hover {
  color: var(--red);
}

body {
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--light);
  color: var(--dark);
  margin-bottom: 70px;
}

.no-wrap {
  white-space: nowrap;
}

.error {
  margin-top: 20vh;
  text-align: center;
}

.spinner {
  margin: 20px;
}

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  background-color: var(--dark);
  color: var(--yellow);
  font-weight: 600;
  text-align: center;
}

h2 {
  font-weight: bold;
}

li {
  list-style: none;
}

.nav-item, .nav-link {
  border-radius: 50px;
}

.container {
  max-width: 1000px;
}

.panel-header {
  font-weight: 600;
  color: var(--yellow);
  font-size: 20px;
  padding: 0.5rem;
  text-align: center;
}

/* dashboard styles */

.user-info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.username {
  text-align: left;
  margin-left: 0;
}

.user-icon {
  color: var(--yellow);
  margin-right: 5px;
  padding: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100%;
  border: 1px solid var(--yellow);
  background-color: rgba(39, 12, 1, .9);
}


.friends-toggle {
  font-weight: 800;
  color: var(--yellow);
  font-size: 15px;
  cursor: pointer;
  display: inline;
}

.friends-toggle:hover {
  color: var(--red);
}

.dash-stats {
  float: right;
  margin-top: 20px;
  font-weight: 600;
}

@media (max-width: 750px) {
  .dash-stats {
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
  }
}


.offcanvas {
  max-width: 70%;
  max-height: 60%;
  margin-top: 105px;
  background-color: #3d1404;
  color: var(--dark);
  border-style: none;
  box-shadow: -10px 11px 6px -5px rgba(39, 12, 1, .3);
  border-radius: 8px;
}

.offcanvas a {
  font-weight: bold;
  font-size: 18px;
  
}

.friend-delete {
  color: var(--yellow);
}

.offcanvas-title {
  font-family: becker-gothics-concave, serif;
  font-size: 18px;
  color: var(--yellow);
}

.offcanvas-title span {
  color: var(--red);
  font-family: freight-sans-pro, sans-serif;
  font-size: 18px;
  margin-left: 5px;
}

.btn-close {
  background-color: var(--yellow);
  border-radius: 50%;
}

.offcanvas .btn {
  background: rgba(229, 152, 36, .2);
  box-shadow: 5px 5px 1px 3px rgba(14, 9, 1, 0.2);
  margin: 5px;
  border-radius: 5px;
  color: var(--yellow);
}

.offcanvas .btn:hover {
  color: var(--dark);
  background-color: var(--light);
}

.add-friend-btn {
  color: var(--dark);
}

.input-group-text {
  background-color: var(--yellow);
  border: none;
}

.friend-input {
  border-radius: 5px;
  border-color: var(--yellow);
  background-color: var(--xtra-light);
}

.input-group {
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
}

.fa-glass-cheers {
  color: var(--yellow);
  margin-left: 5px;
}

.playlist-list {
  border-radius: 6px;
  box-shadow: 5px 5px 10px -5px rgb(39 12 1 / 40%);
  margin-top: 15px;
  margin-left: 10px;
}

.playlist-header {
  background-color: var(--yellow);
  color: var(--xtra-light);
  font-weight: bold;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 6px 6px 0 0;
}

.playlist-name a {
  color: var(--dark);
  font-size: 18px;
  padding: 1rem;
}

.playlist-name a:hover {
  font-size: 19px;
  font-style: italic;
  color: #e7414f;
}

em {
  margin-left: 5px;
}

.list-group-item {
  background-color: var(--xtra-light);
  border-color: var(--light);
  padding-bottom: 20px;
  padding-top: 15px;
}

.list-group-flush>.list-group-item:last-child {
  border-radius: 0 0 6px 6px;
}

/* JUMBOTRON STYLES */

.jumbo {
  /* Photo by Alena Darmel from Pexels */
  display: flex;
  padding-top: 0px;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-image: url('../src/assets/kokc-hero-web.png');
  background-repeat: repeat;
  background-size: cover;
  font-weight: bold;
}

.jumbotron {
  min-width: 50%;
}  

.jumbo-text {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #ffead4;
  text-align: center;
}

.jumbo-span {
  color: #fd2f40;
  margin-left: 6px;
  margin-right: 2px;
}

.jumbo-text h3 {
  background-color: rgba(39, 12, 1, .3);
  box-shadow: 0 0 30px rgba(39, 12, 1, .4);
  border-radius: 4px;  
  padding: 0.5rem;
  width: 100%;
  font-size: 45px;
}

@media (max-width: 750px) {
  .jumbo {
    height: 250px;
  }

  .jumbotron {
    min-width: 90%;
  }  
  
  .jumbo-text {
    height: 50%;
  }

 .jumbo-text h3 {
   font-size: 25px;
 }
}

/* public profile*/

.pub-header {
  margin-top: 20px;
  color: var(--dark);
}

@media (max-width: 750px) {
  .pub-header {
    text-align: center;
  }
}

.pub-name {
  margin-top: 9px;
}

.pub-user-icon {
  margin-right: 10px;
  color: var(--red);
  padding: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100%;
  border: 1px solid var(--red);
  background-color: rgba(39, 12, 1, .9);
}

.pub-friends {
  margin: 30px;
  margin-top: 5px;
}

.friend-count {
  color: var(--dark);
  font-size: 20px; 
  margin-top: 30px;
}

.pub-play-list {
  margin-top: 40px;
  box-shadow: 8px 8px 15px 1px rgba(39, 12, 1, .3);
  border-radius: 0 0 8px 8px;
}

.pub-li {
  background-color: var(--xtra-light);
  margin-bottom: 2px;
  text-align: center;
  padding: 8px;
  color: var(--red);
}

.pub-li:last-child {
  border-radius: 0 0 6px 6px;
}

.pub-li.no-info {
  font-size: 18px;
  padding: 15px;
  font-style: italic;
}

.publist-header {
  background-color: var(--red);
  margin-bottom: 0;
  padding: 5px;
  color: var(--xtra-light);
  border-radius: 6px 6px 0 0;
  text-align: center;
}

.pub-add-friend-btn {
  color: var(--dark);
  font-size: 18px;
}

.pub-add-friend-btn:hover {
  font-size: 25px;
  color: var(--red);
}
/* performance styles */
.performance-video .video-wrap {
  width: 80%;
  border: 2px solid var(--yellow);
  box-shadow: 12px 12px 20px 1px rgba(39, 12, 1, .6);
}

.playlist-page .video-wrap {
  border: 2px solid var(--yellow);
  box-shadow: 12px 12px 20px 1px rgba(39, 12, 1, .6);
  margin: 2rem auto;
  width: 96%;  
}
/* .pub-play-list .performance-video .video-wrap {
  margin: 0 0 0;
  width: 100%;
} */

.performance-headline {
  margin-top: 40px;
}

.performance-byline {
  color: var(--yellow);
  margin-bottom: 30px;
}

.fa-thumbs-up {
  margin-left: 10px;
  color: var(--dark);
}

.visibility-btn.friends.selected {
  color: var(--xtra-light);
  background-color: var(--yellow);
  box-shadow: 0 0 6px 2px rgba(229, 152, 36, .5);
}

.perf-btn-group {
  margin-bottom: 40px;
}

.fa-share-square:hover {
  color: var(--dark);
  cursor: pointer;
}


/* reactions styles */
.reaction-section {
  text-align: center;
}

.reactions {
  display: inline-block;
  width: auto;
  min-width: 80%;
}

.reaction {
  background-color: var(--xtra-light);
  border-radius: 10px;
  padding: .5rem;
  width: 100%;
}

.reaction-body {
  padding: 0.5rem;
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
}

.reaction-byline {
  text-align: left;
  font-size: 15px;
  font-style: italic;
  padding-left: 35px;
}

.reaction-form {
  align-items: center;
  background-color: var(--xtra-light);
  border: 1px dashed var(--red);
  border-radius: 10px;
  display: flex;
  padding: 0.2rem;
  margin: 1rem 0;
}

#reaction-text-input {
  border-color: var(--red);
  border-radius: 5px;
  flex-grow: 1;
  margin: 0.5rem;
  padding: 0.5rem;
  resize: none;
}

.reaction-submit {
  color: var(--yellow);
  margin-left: 10px;
  margin-right: 10px;
}

.playlist-name .delete-btn {
  font-size: 10px;
  margin: 0;
  padding: 0.2rem;
  background-color: var(--xtra-light);
  color: var(--red);
  cursor: pointer;
}

.reaction .delete-btn {
  margin-right: 10px;
  background-color: var(--xtra-light);
  color: var(--red);
  cursor: pointer;
}

