.playlist-title {
  display: inline-block;
  font-size: 200%;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.playlist-title span {
  font-size: 75%;
}

.visibility-btn {
  background-color: var(--xtra-light);
  color: var(--dark);
  border: none;
  border-radius: 50px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 3px;
  
}

.visibility-btn.selected {
  box-shadow: none;
  color: #fff;
  font-weight: bold;
  box-shadow: 6px 6px 6px 1px rgb(39 12 1 / 20%);
}

.visibility-btn.public.selected {
  background-color: var(--turq);
}

.visibility-btn.private.selected {
  background-color: var(--red);
}

.delete-btn {
  display: inline-block;
  margin: 1rem auto;
  background-color: red;
  color: white;
  border-radius: 25px;
  padding: 1rem;
  font-size: 140%;
  font-weight: bold;
}