.btn-group {
  display: flex;
}

.party-members {
  padding: 5px;
  padding-bottom: 10px;
}

.member-text {
  font-weight: 600;
  color: var(--yellow);
  font-size: 20px;
}

.add-member-button {
  margin: 6px 5px 6px 6px;
  border-color: none;
  color: var(--yellow);
  box-shadow: 6px 6px 6px 1px rgba(39, 12, 1, .1);
  font-weight: bold;
  background-image: url('../../assets/paperslip.png');
} 

.member-button {
  margin: 6px 5px 6px 6px;
  border-color: none;
  color: rgba(39, 12, 1, .8);
  box-shadow: 6px 6px 6px 1px rgba(39, 12, 1, .1);
  font-family: adobe-handwriting-ernie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding:8px;
  background-image: url('../../assets/paperslip.png');
}

.member-button:hover {
  color: rgba(39, 12, 1, .8);
}