.song-edit-btn {
  float: right;
}

.song-btn > i {
  margin-left: 0.2rem;
}

.italic {
  font-style: italic;
}

.song-content {
  text-align: center;
}

.song-title {
  font-weight: bold;
  font-size: 18px;
}

.song-artist {
  color: var(--yellow);
}

.song-content {
  width: 90%;
}

.song-btn {
  background-color: var(--light);
  border: none;
  border-radius: 50px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 3px;
  box-shadow: 3px 3px 3px 0 rgba(39, 12, 1, .1);
  cursor: pointer;
}

.song-btn:hover {
  padding: 8px;
  padding-left: 28px;
  padding-right: 28px;
}

.fa-edit {
  color: var(--dark);
}

.song-btn.song-edit-btn {
  background-color: var(--xtra-light);
  box-shadow: none;
  margin: 0;
  width: 10%;
}
