.song-edit-btn {
  float: right;
}

.song-btn > i {
  margin-left: 0.2rem;
}

.italic {
  font-style: italic;
}

.song-title {
  font-weight: bold;
  font-size: 18px;
}

.song-artist {
  color: var(--yellow);
}

.song-content {
  width: 90%;
}

.song-btn {
  margin-right: 30px;
  cursor: pointer;
}

.fa-edit {
  color: var(--dark);
}

.song-btn.song-edit-btn {
  background-color: var(--xtra-light);
  box-shadow: none;
  margin: 0;
  width: 10%;
}

.song-form-btn {
  background-color: var(--xtra-light);
  border-style: none;
  border: 1px solid var(--yellow);
  border-radius: 50px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 30px;
  color: var(--yellow);
}

.song-form-btn:hover, .song-form-btn:focus {
  padding: 6px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: var(--yellow);
  color: var(--dark);
  box-shadow: 3px 3px 2px 1px rgba(36, 27, 1, 0.2);
}

div.test.list-group-item {
  margin-left: 50px;
}

@media (max-width: 1000px) {
    div.test.list-group-item {
    margin-left: 0;
  }
}

